<section class="mb-2 lg:mb-10" id="tipos-divorcio">
  <div class="text-center px-3">
    <h2 class="text-golden-300 text-sm md:text-lg font-semibold uppercase tracking-wide">
      Tipos de divorcio que atendemos
    </h2>
    <h3 class="text-madison-800 text-3xl md:text-3xl font-bold mt-2 leading-tight font-display">
      Tenemos la mejor estrategia para tu caso
    </h3>
  </div>

  <div class="flex flex-col xl:flex-row justify-center items-center gap-6 xl:gap-0 mt-8">
    <app-card-template iconClass="bi bi-people" title="Divorcio Incausado"
      description="La opción más rápida y efectiva. No es necesario expresar las causas de la separación. Ideal cuando conyuges están de acuerdo."
      buttonLabel="Informes" (onButton)="emitButton1Click()" imageSrc="assets/images/divorcio-incausado.jpg">
    </app-card-template>

    <app-card-template iconClass="bi bi-person" title="Divorcio Voluntario"
      description="Acuerdos justos y equilibrados para ti y tu familia. Te acompañamosa negociar y establecer condiciones claras."
      buttonLabel="Informes" (onButton)="emitButton2Click()" imageSrc="assets/images/divorcio-voluntario.jpg">
    </app-card-template>
  </div>
</section>