<section class="relative w-full h-105 md:h-106 overflow-hidden mb-9">
  <div class="absolute inset-0 bg-madison-900">
    <img [src]="mobileImage" alt="Mobile" class="hero-bg-mobile">
    <img [src]="desktopImage" alt="Desktop" class="hero-bg-desktop">
  </div>

  <div class="hero-gradient-overlay bg-linear-to-r from-madison-900 via-madison-900 to-transparent">
  </div>

  <div class="hero-content-container">
    <div class="max-w-xl">
      <div class="w-12 h-1 bg-golden-300 mx-auto md:mx-0 mb-4"></div>

      @if (titleHint) {
      <p class="text-golden-300 font-semibold text-lg uppercase mb-2">{{ titleHint }}</p>
      }
      <h1 class="font-display text-4xl md:text-5xl font-semibold text-gray-100 leading-tight">
        {{ title }}
      </h1>
      @if (subtitle) {
      <h2 class="text-xl md:text-2xl font-display font-semibold text-gray-100 mt-2">{{ subtitle }}</h2>
      }
      <div class="w-12 h-1 bg-golden-300 mx-auto md:mx-0 my-4"></div>

      <p class="text-gray-200 md:text-lg max-w-lg mx-auto md:mx-0">{{ description }}</p>

      @if (showBulletPoints && bulletPoints.length) {
      <div class="flex flex-col items-center md:items-start gap-2 mt-6">
        @for (point of bulletPoints; track point) {
        <div class="flex items-center gap-3">
          <i [class]="bulletIcon" class="text-golden-300 text-xl"></i>
          <span class="text-gray-300 text-base">{{ point }}</span>
        </div>
        }
      </div>
      }

      @if (showButtons) {
      <div class="flex flex-col sm:flex-row gap-4 mt-8 justify-center md:justify-start">
        <p-button [label]="button1Text" icon="pi pi-calendar" (click)="onButton1.emit()" severity="warn"
          styleClass="w-full md:w-auto"></p-button>
        <p-button [label]="button2Text" icon="pi pi-whatsapp" (click)="onButton2.emit()" severity="secondary"
          styleClass="w-full md:w-auto"></p-button>
      </div>
      }
    </div>
  </div>
</section>