<footer class="bg-madison-900 text-gray-200">
  <div class="container mx-auto px-8 lg:px-10 py-8">
    <div class="flex flex-col lg:flex-row justify-center items-stretch gap-4 lg:gap-0">

      <div class="flex-1 text-center lg:text-left lg:pr-6 max-lg:mt-4">
        <div class="flex justify-center lg:justify-start items-center gap-3 mb-4">
          <img src="assets/images/logo.png" alt="Logo" class="h-14 w-auto brightness-0 invert">
          <img src="assets/images/logo-text.png" alt="Logo Text" class="h-26 w-auto brightness-0 invert">
        </div>
        <p class="text-sm leading-relaxed max-w-md mx-auto lg:mx-0">
          Despacho jurídico especializado en derecho familiar. Soluciones legales, humanas y efectivas para tu
          tranquilidad y la de tu familia.
        </p>
      </div>

      <div class="block lg:hidden w-4/5 h-px bg-white/30 my-4 mx-auto"></div>
      <div class="hidden min-[1159px]:block w-px h-50 bg-white/20 mx-6 self-center"></div>

      <div class="flex-1 text-left lg:px-6">
        <h3 class="text-golden-300 text-lg font-semibold mb-4 text-center lg:text-left">CONTACTO</h3>
        <div class="space-y-6 text-sm max-sm:px-9">
          <div class="flex items-center justify-center lg:justify-start gap-3">
            <i class="bi bi-geo-alt-fill" style="font-size: 1.5rem"></i>
            <span>{{ address }}</span>
          </div>
          <div class="flex items-center justify-center lg:justify-start gap-3">
            <i class="bi bi-telephone-fill" style="font-size: 1.5rem"></i>
            <div class="flex flex-col leading-tight gap-2">
              <span class="font-semibold">{{ phone }}</span>
              <span>{{ workingHours }}</span>
            </div>
          </div>
          <div class="flex items-center justify-center lg:justify-start gap-3">
            <i class="bi bi-envelope-fill" style="font-size: 1.5rem"></i>
            <span>{{ email }}</span>
          </div>
        </div>
      </div>

      <div class="block lg:hidden w-4/5 h-px bg-white/30 my-4 mx-auto"></div>
      <div class="hidden min-[1159px]:block w-px h-50 bg-white/20 mx-6 self-center"></div>

      <div class="text-center lg:text-left lg:px-6">
        <h3 class="text-golden-300 text-lg font-semibold mb-4">ENLACES</h3>
        <ul class="space-y-4 text-sm">
          <li><a href="#" class="hover:text-golden-300 transition-colors">Área de práctica</a></li>
          <li><a href="#" class="hover:text-golden-300 transition-colors">Nosotros</a></li>
          <li><a href="#" class="hover:text-golden-300 transition-colors">Blog</a></li>
          <li><a href="#" class="hover:text-golden-300 transition-colors">Contacto</a></li>
        </ul>
      </div>

      <div class="block lg:hidden w-4/5 h-px bg-white/30 my-4 mx-auto"></div>
      <div class="hidden min-[1159px]:block w-px h-50 bg-white/20 mx-6 self-center"></div>

      <div class=" text-center lg:text-left lg:pl-6 mb-4">
        <h3 class="text-golden-300 text-lg font-semibold mb-4">SÍGUENOS</h3>
        <div class="flex justify-center lg:justify-start gap-4">
          <a href="#"
            class="w-12 h-12 rounded-full bg-white/10 flex items-center justify-center hover:bg-golden-300 hover:text-madison-900 transition-colors">
            <i class="pi pi-facebook" style="font-size: 1.5rem;"></i>
          </a>
          <a href="#"
            class="w-12 h-12 rounded-full bg-white/10 flex items-center justify-center hover:bg-golden-300 hover:text-madison-900 transition-colors">
            <i class="pi pi-instagram" style="font-size: 1.5rem;"></i>
          </a>
          <a href="#"
            class="w-12 h-12 rounded-full bg-white/10 flex items-center justify-center hover:bg-golden-300 hover:text-madison-900 transition-colors">
            <i class="pi pi-whatsapp" style="font-size: 1.5rem;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="border-t border-white/30 w-full "></div>
  <div class="container mx-auto px-8 text-center lg:text-left text-sm text-gray-200 py-6">
    ©2026 Todos los derechos reservados.
  </div>
</footer>