<nav class="w-full bg-transparent px-6 py-3 absolute top-0 left-0 z-50">
  <div class="flex flex-col xl:flex-row xl:items-center xl:justify-between">

    <!-- DESKTOP -->
    <div class="hidden lg:flex flex-row justify-between items-center gap-3 xl:gap-6">
      <div class="flex justify-center items-center py-2">
        <img src="assets/images/logo.png" alt="Logo" class="h-20 w-auto object-contain mr-3 md:mr-10">
        <img src="assets/images/logo-text.png" alt="Logo Text" class="h-32 w-auto object-contain">
      </div>
      <div class="flex justify-center sm:justify-end">
        <p-button label="AGENDA TU CONSULTA" icon="pi pi-calendar" class="hidden md:inline-flex xl:hidden"
          (click)="onButton.emit()"></p-button>
      </div>
    </div>

    <div class="hidden lg:flex flex-col xl:flex-row xl:items-center xl:gap-6 xl:mt-0 xl:ml-auto">
      <ul class="flex flex-wrap justify-center gap-6 xl:gap-9 font-semibold text-lg text-madison-800">
        <li><a (click)="scrollTo('inicio')"
            class="cursor-pointer pb-2 hover:text-madison-600 border-b-4 border-golden-300">INICIO</a></li>
        <li><a (click)="scrollTo('tipos-divorcio')" class="cursor-pointer pb-2 hover:text-madison-600">TIPOS DE
            DIVORCIO</a></li>
        <li><a (click)="scrollTo('servicios')" class="cursor-pointer pb-2 hover:text-madison-600">SERVICIOS</a></li>
        <li><a (click)="scrollTo('contacto')" class="cursor-pointer pb-2 hover:text-madison-600">CONTACTÁNOS</a></li>
      </ul>
      <p-button label="AGENDA TU CONSULTA" icon="pi pi-calendar" class="hidden xl:inline-flex"
        (click)="onButton.emit()"></p-button>
    </div>

    <!-- MOBILE-->
    <div class="block lg:hidden w-full">
      <div class="flex items-center justify-between">
        <p-button icon="pi pi-bars" (onClick)="drawerVisible = true" text severity="secondary" class="-ml-3"
          rounded="true" size="large"></p-button>
        <div class="flex items-center">
          <img src="assets/images/logo.png" alt="Logo" class="h-14 w-auto object-contain mr-3 md:mr-10">
          <img src="assets/images/logo-text.png" alt="Logo" class="h-26 w-auto object-contain">
        </div>
        <div class="w-10"></div>
      </div>
    </div>

    <p-drawer [(visible)]="drawerVisible" position="left">
      <ng-template #header>
        <div class="text-madison-800 font-semibold text-2xl">Menú</div>
      </ng-template>
      <ul class="flex flex-col gap-4 mt-4 font-semibold text-madison-800">
        <li><a (click)="scrollTo('inicio')"
            class="cursor-pointer pb-1 hover:text-madison-600 border-b-4 border-golden-300">INICIO</a></li>
        <li><a (click)="scrollTo('tipos-divorcio')" class="cursor-pointer pb-1 hover:text-madison-600">TIPOS DE
            DIVORCIO</a></li>
        <li><a (click)="scrollTo('servicios')" class="cursor-pointer pb-1 hover:text-madison-600">SERVICIOS</a></li>
        <li><a (click)="scrollTo('contacto')" class="cursor-pointer pb-1 hover:text-madison-600">CONTACTÁNOS</a></li>
        <li class="mt-9">
          <p-button label="ESCRÍBENOS POR WHATSAPP" icon="pi pi-whatsapp" (click)="onButton.emit()" class="w-full"
            size="small"></p-button>
        </li>
      </ul>
      <ng-template #footer>
      </ng-template>
    </p-drawer>

  </div>
</nav>