<section class="bg-madison-900 py-4 mb-8">

  <div class="container mx-auto md:max-w-lg lg:max-w-6xl max-lg:py-4 ">

    <div class="text-center mt-2 max-lg:mb-2">
      <h2 class="text-golden-300 text-sm md:text-lg font-semibold uppercase tracking-wide">
        Tu tranquilidad comienza aquí
      </h2>
      <h3 class="text-gray-200 text-3xl md:text-3xl font-bold mt-2 leading-tight font-display">
        Protegemos lo que más te importa
      </h3>
    </div>

    <div class="flex flex-col md:flex-row md:flex-wrap justify-around items-center w-full lg:px-8 mt-4">

      <app-feature-card-template icon="bi bi-shield-check" title="Protección legal"
        subtitle="Cuidamos tus derechos y tu patrimonio." [lightText]="true">
      </app-feature-card-template>

      <div class="block md:hidden w-3/5 h-px bg-white/20"></div>

      <div class="hidden min-[1159px]:block w-px h-28 bg-white/20"></div>

      <app-feature-card-template icon="bi bi-journal-text" title="Proceso claro"
        subtitle="Te guiamos paso a paso para que tomes decisiones seguras." [lightText]="true">
      </app-feature-card-template>

      <div class="block md:hidden w-3/5 h-px bg-white/20"></div>
      <div class="hidden min-[1159px]:block w-px h-28 bg-white/20"></div>

      <app-feature-card-template icon="bi bi-lock" title="Confidencialidad"
        subtitle="Tu información y tu caso siempre estarán protegidos." [lightText]="true">
      </app-feature-card-template>

    </div>
  </div>
</section>